.d-none{display:none}
.lhs,.lhs *{line-height:1}
.mbs{margin-bottom:.4rem}
.pxs{padding-left:.3rem;padding-right:.3rem}

.fwr{flex-wrap:wrap}
.jcc{justify-content:center}
.aic{align-items:center}
.flex{display:flex;flex-wrap:wrap;flex-direction:row;justify-content:space-between}
.c1_2{flex:0 0 49%}
.c1_3{flex:0 0 32%}
.c1_4{flex:0 0 23.5%}
.md-c1_2,.md-c1_3,.md-c1_4,.md-c2_3{display:block;width:100%}
.flex .fill,.fx1{flex:1}

@media(min-width:768px){
  .md-flex{display:flex;-ms-flex-wrap:wrap;flex-wrap:wrap;flex-direction:row;justify-content:space-between}
  .md-c1_2{flex:0 0 49%}
  .md-c1_3{flex:0 0 32%}
  .md-c2_3{flex:0 0 64%}
  .md-c1_4{flex:0 0 23.5%}
  .d-md-block{display:block}
  .d-md-inline{display:inline}
  .d-md-none{display:none}
}

.thmb, .thmb-s{background:#ddd}
.thmb, .thmb-s{overflow:hidden}
.thmb{aspect-ratio:16/9}
.thmb-s{aspect-ratio:1/1;width:60px}
.thmb img, .thmb amp-img img{object-fit:cover}
